* {
    margin: 0;
}

body {
    background-image: url(../img/background-1.jpg);
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 1023px;
    margin: auto;
}

.header-container {
    padding-top: 51px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}

.logo:hover img {
    content: url(../img/logo-remastered.png);
}

.logo:hover h1 {
    color: #F26522;
}

.logo:hover h2 {
    color: #F26522;
}

.header-image {
    position: absolute;
    /* height: 47px;
    width: 53px;
    margin-bottom: 6px;
    color: white;
    background-color: none; */

}

.header-text {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    color: white;
    text-transform: uppercase;
    margin-left: 63px;
    margin-bottom: 3px;

}

.header-text-main {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;

    height: 30px;
    width: 140px;   
}

.header-text-extra {
    height: 21px;
    width: 135px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;

}

.header-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.header-email {
    margin-bottom: 15px;
}

.header-email-text {
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.header-phone-number {
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
}

.header-email-text:hover {
    color: #F26522;
    transition: 0.5s;
}

.header-phone-number:hover {
    color: #F26522;
    transition: 0.5s;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 61px;
    grid-row-gap: 37px;
    margin-bottom: 49px;

}

.main-servises {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.servise-1 {
    grid-area: 1 / 1 / 2 / 2;
}

.servise-2 {
    grid-area: 1 / 2 / 2 / 3;
}

.servise-3 {
    grid-area: 1 / 3 / 2 / 4;
}

.servise-4 {
    grid-area: 2 / 1 / 3 / 2;
}

.servise-5 {
    grid-area: 2 / 2 / 3 / 3;
}

.servise-6 {
    grid-area: 2 / 3 / 3 / 4;
}

.image2 {
    height: 222px;
    width: 303px;
}

.main-description {
    margin-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: white;
    text-align: center;
}

.from {
    position: absolute;
    left: 21px;
    top: 11px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 10px;
}

.price {
    position: absolute;
    left: 21px;
    top: 25px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
}

.view_details {
    position: absolute;
    left: 185px;
    top: 25px;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Roboto';
}

.servise-price {
    opacity: 0;
    width: 300px;
    height: 55px;
    background: #F26522;
    position: relative;
    color: white;
    top: -99px;
    left: 2px;
}

.main-servises:hover .servise-price {
    opacity: 1;
    transition: 0.5s;
}

.main-servises:hover p {
    color: #F26522;
    transition: 0.5s;
}

.footer-container {
    text-align: center;
    margin-bottom: 15px;
}

.footer-copyright {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: white;
}

